body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    background: hsla(207, 78%, 64%, 0.342);
    
    
}
head{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main{
    display: block;
    height: 100px;
    flex-direction: column;
    overflow-y: visible;
    position:relative;
}


.navbar {
    background-color:white ;
    background:transparent;
    position:fixed;
    display: flex;
    justify-content: center;
    width: auto;
    z-index:1;
    text-align: center;
    top: 1vh;
    }
  
  .navbar a {
    
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    
    

  }

  a:hover{
      font-weight:bolder;
      color: gray;

      
  }
  .bit{
   height: 200px;
   margin-top: 30px;
   justify-content: center;
   
  }
  .navimg{
      display: block;
      height: 100px;
      position:relative;
      border: solid #fff 3px;
      transition: transform .7s ease-in-out;
    }
    .navimg:hover{
        transform: rotate(90deg);
        transform-origin: 0% 60%;
    }
#content{
    margin-top: 11%;
    justify-content: center;
    text-align: center;
}
#pmain{
    color: whitesmoke;
    margin-top: 20%;
}

.dropbtn {
    background-color: #04aa6d00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f100;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e4100;}