body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    background: black;
    
    
}
.head{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main{
    display: block;
    height: 100px;
    flex-direction: column;
    overflow-y: visible;
    position:relative;
}

#tag{
    
    margin: auto;
    padding: 20%;
    background: black;
    font-size: larger;
    color: green;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color:white ;
    background:transparent;
    position:fixed;
    top: 1vw; 
    left: 25%;
    display:flex;
    justify-content: space-between;
    
    z-index:1;
    
      
      

      
    }
  
  .navbar a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    
    

  }

  a:hover{
      font-weight:bolder;
      color: black;

      
  }
  .bit{
   height: 200px;
   margin-top: 30px;
   justify-content: center;
   
  }
  .navimg{
      display: block;
      height: 100px;
      position:relative;
      border: solid #fff 3px;
      
    }
#content{
    margin-top: 11%;
    justify-content: center;
    text-align: center;
}
#imgsizer{
    width: 30%;
}