body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    background: black;
    
    
}
head{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main{
    display: block;
    height: 100px;
    flex-direction: column;
    overflow-y: visible;
    position:relative;
}


.navbar {
    background-color:white ;
    background:transparent;
    position:fixed;
    display: flex;
    justify-content: center;
    width: auto;
    z-index:1;
    text-align: center;
    top: 1vh;
    }
  
  .navbar a {
    
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    
    

  }

  a:hover{
      font-weight:bolder;
      color: gray;

      
  }
  .bit{
   height: 200px;
   margin-top: 30px;
   justify-content: center;
   
  }
  .navimg{
      display: block;
      height: 100px;
      position:relative;
      border: solid #fff 3px;
      
    }
#content{
    margin-top: 11%;
    justify-content: center;
    text-align: center;
}
#pmain{
    color: whitesmoke;
    margin-top: 20%;
}